/* CSS BY KAYODE BANKOLE */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
/* CSS REST */

/* ROOT VARIABLES */
:root{
    --teal :#4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#FFFFFF;
}
/* GLOBAL STYLES (mobile first/small) */
body{
    margin: 0px auto;
    width: 450px;
    background-color:var(--purple);
    font-family: "Inter" , serif;
}
header{
    margin: 0px auto;
    border: 1px solid var(--lavender);
    background-color: var(--lavender);
    border-radius: 0 0 20px 20px;
    position: relative;
}

.menu-button {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: var(--yellow);
    color:var(--black);
    padding: 5px;
    font-family: "Inter" , serif;
    border-radius: 0 0 10px 10px;
    font-style: italic;
    font-size: 1.5em;
}

.unlock {
    margin: -20px auto 0 auto;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    background-color: var(--pink);
    border-radius: 0 0 20px 20px;
    align-self: center;
    color:var(--white);
    width: 430px;

}

h1, h2{
    font-family: "Kavoon", serif;
    color: var(--white);
}

h1{
    font-size: 3em;
    text-align: center;
    white-space: nowrap;
}

nav h2{
    font-size: 1.5em;
}

h2{
    font-size: 2em;
    margin-bottom: 5px;
    margin-top:0;
}

h3{
    font-size: 1.5em;
    color:var(--yellow);
    margin-top: 0px;
}

h4{
    font-size: 1.15em;
    color: var(--purple)
}

section {
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    text-align: left;

}

table{
    border-collapse: collapse;
    margin: auto;
}

th, td {

    padding: 10px;
    border: 3px solid var(--yellow);
    color: var(--black);
    padding:15px;
    background-color: var(--white);
}

th {
    background-color: var(--yellow);
    font-weight: bold;
    text-transform: uppercase;
}

.section2{
    background-color: var(--purple);
}

.section3{
    background-color: var(--pink);
    border-radius: 0px;
}

#schedule{
    
}

.hidden{
    display: none;
}